
<div id="main" class="container page">

  <h1 class="title"><%=post.title%></h1>
  <article class="post block posts">
 
    <div class="entry">
<%-post.content_html%>


</div>
    <div class="meta">
      <time><%=post.addtime%></time>
    </div>
   
    <div class="share" style="margin-top: 10px;">
        <!-- Baidu Button BEGIN -->
<div class="bshare-custom">
<div class="bsPromo bsPromo2"></div>
<a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a>
<a title="分享到微信" class="bshare-weixin" href="javascript:void(0);">微信</a>
<a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a>
<a title="分享到网易微博" class="bshare-neteasemb">网易微博</a>
<a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);">QQ空间</a>
<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
<span class="BSHARE_COUNT bshare-share-count" style="float: none;">51.1K</span>
</div>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
        <!-- Baidu Button END -->

    </div>
  </article>
  
  <div id="reply" class="block inner posts">

<!--PC和WAP自适应版 start-->
<div id="SOHUCS" sid="<%=post.id%>" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cysScqNnV'; 
var conf = 'prod_c52e248fd4d15d156cd7b87ab4ba33a7'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<!--PC和WAP自适应版 end -->

  </div>
  
   <div class="sidebar" style="margin-top: 43px;">
  	<% include ./public/right.html %>
    <% include ./public/relation.html %>
    <% include ./public/post_tags.html %>
    <% include ./public/newposts.html %>
  </div>
</div>
<script src='/libs/prettify.js' type='text/javascript'></script>
<script type="text/javascript">
  (function () {
    $("pre").addClass("prettyprint");
    prettyPrint();
  })()
</script>
